In [1]:
print("Welcome")
print("Welcome")
print("Welcome")
print("Welcome")
print("Welcome")

In [2]:
i=1
while i<=5:
    print("Welcome")
    i=i+1
print("End of code")

In [3]:
for i in range(5):            #0,1,2,3,4
    print("Welcome")    
print("End Of Code")

In [4]:
for w in 'Mrunal':
    print('Good girl')

In [2]:
for r in 'pen':
    x=int(input('enter value'))
    y=int(input('enter value'))
    print(x-y)
    print("***********************")

enter value89
enter value60
29
***********************
enter value96
enter value45
51
***********************
enter value78
enter value100
-22
***********************

In [4]:
x=0
y=5
for i in range(x,y):
    print("hi Mrunal",i)

hi Mrunal 0
hi Mrunal 1
hi Mrunal 2
hi Mrunal 3
hi Mrunal 4

In [6]:
a=int(input(' enter value '))
b=int(input(' enter value '))
for y in range(a,b):
    print('Diganti')

 enter value 8
 enter value 10
Diganti
Diganti

In [7]:
for u in range(1,20,2):
    print(u)

1
3
5
7
9
11
13
15
17
19

In [9]:
y=5
for u in range(5,50,y):
    print(u)

5
10
15
20
25
30
35
40
45

In [13]:
for u in range(5):
    for v in range(5):
        print('Mrunal',u)

Mrunal 0
Mrunal 0
Mrunal 0
Mrunal 0
Mrunal 0
Mrunal 1
Mrunal 1
Mrunal 1
Mrunal 1
Mrunal 1
Mrunal 2
Mrunal 2
Mrunal 2
Mrunal 2
Mrunal 2
Mrunal 3
Mrunal 3
Mrunal 3
Mrunal 3
Mrunal 3
Mrunal 4
Mrunal 4
Mrunal 4
Mrunal 4
Mrunal 4

In [25]:
for x in range(5):
    for y in range(x):
        print('*',end=' ')
    print( )

*
* *
* * *
* * * *

In [22]:
for w in range(15):
    print(w,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [27]:
t=['ad','rt','io','we']
for i in t:
    print(i)

ad
rt
io
we

In [ ]:
i=0
while i<5:
    print("Welcome")    
    i=i+1
print("EOC")

In [ ]:
for i in range(5):#0,1,2,3,4
    print("Welcome")    
print("EOC")

In [ ]:
range(10)

In [ ]:
range(5,10)

In [ ]:
for i in range(4,8): #i=4,5,6,7
    print("Welcome")    
print("EOC")

In [ ]:
i=1
while i<=10:
    print("Welcome")
    i=i+2
print("End of code")

In [ ]:
for i in range(4,18,2):#i=4,6,8,10..
    print("Welcome")    
print("EOC")

In [ ]:
print(1)
print(2)
print(3)
....

In [ ]:
i=1
while i<=10:
    print(i)
    i+=1

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
#write for & while loop code
#1 to 100
#101 to 200
#1 to 100 with step size = 2
#101 to 200 with step size = 2

In [ ]:
#10 to 1
i=10
while i>=1: #0>=1--F
    print(i)
    i=i-1

In [ ]:
for i in range(10,0,-1):
    print(i)

In [ ]:
l1=[45,567,23,12,6,8,9,34,46]
l1

In [ ]:
i=0
while i<len(l1):
    print(l1[i])
    i=i+1

In [ ]:
for i in l1:  #i=45,567,23,12,6,8,9,34,46
    print(i)

In [ ]:
states=("maharashtra",'goa','karnataka','up','mp')

In [ ]:
for state in states:
    print(state)

In [ ]:
#create a list of cities and print their name using for loop

In [ ]:
name='maharashtra'
for i in name:
    print(i)

In [ ]:
states=("maharashtra",'goa','karnataka','up','mp')
states

In [ ]:
for state in states:
    print(state)

In [ ]:
states[0]

In [ ]:
type(states[0])

In [ ]:
type(states)

In [ ]:
states[0].upper()

In [ ]:
states[1].upper()

In [ ]:
states[2].upper()

In [ ]:
for state in states: #("maharashtra",'goa','karnataka','up','mp','manipur')
    print(state.upper())

In [ ]:
states=["maharashtra",'goa','karnataka','up','mp','manipur']

In [ ]:
type(states)

In [ ]:
type(states[0])

In [ ]:
states[0]

In [ ]:
states[0]=states[0].upper()

In [ ]:
states[0]

In [ ]:
states[0]=states[0].upper()
states[1]=states[1].upper()
states[2]=states[2].upper()

In [ ]:
states=["maharashtra",'goa','karnataka','up','mp','manipur']

In [ ]:
for state in states:
    print("before ",state)
    state=state.upper()
    print("after ",state)
states
# convert all string values from list to uppercase

In [ ]:
for state in states:
    print(state.startswith('m'))

In [ ]:
for state in states:
    if state.startswith('m'):
        print(state)

In [ ]:
for state in states:
    if state.endswith('a'):
        print(state)

In [ ]:
states

In [ ]:
capitals=['mumbai','panji','bengaluru','luckhnow','bhopal','kohima']

In [ ]:
print("capital of ",states[0]," is ",capitals[0])
print("capital of ",states[1]," is ",capitals[1])
print("capital of ",states[2]," is ",capitals[2])

In [ ]:
range(0,10)----0,1,2,---9

In [ ]:
len(states)

In [ ]:
for i in range(0,len(states)):#i=0,1,2,3,4,5
    print("capital of ",states[i]," is ",capital[i])

In [ ]:
lst=[45,56,23,12,6,8,9,34,43]
lst

In [ ]:
#               0   1   2   3   4   5
orders_amount=[100,250,320,120,220,540]

In [ ]:
orders_amount[0]=orders_amount[0]+10
orders_amount[1]=orders_amount[1]+10
orders_amount[2]=orders_amount[2]+10

In [ ]:
len(orders_amount)

In [ ]:
range(0,len(orders_amount))---0 to 5

In [ ]:
orders_amount

In [ ]:
for i in range(0,len(orders_amount)): #i=0,1,...5
    orders_amount[i]=orders_amount[i]+10
orders_amount

In [ ]:
x=10

In [ ]:
x=x+10
print(x)

In [ ]:
#add 100 to each value in list
#get 10 times of each value in list
#get squared value of each value in list
#add 15% in each value of list

In [ ]:
#create a list with first 10 numbers
lst=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
lst=[]
for i in range(1,1001):
    lst.append(i)
lst

In [ ]:
lst=[]
for i in range(1,11):#i=1,2
    lst.append(i)
    print(lst)

In [ ]:
#print 1st 10 even no.
for i in range(1,11):#i=1,2...10
    if i%2==0:
        print(i)

In [ ]:
#print 1st 10 odd no.

In [ ]:
#create a list containing 1st 10 even no.
lst=[]
for i in range(1,11):#i=1,2...10
    if i%2==0:
        lst.append(i)
print(lst)

In [ ]:
#create a list containing 1st 10 odd no.

In [ ]:
lst=[4,2,1,5,6,8,3]

In [ ]:
for i in lst:
    if i%2==0:
        print(i," = even")
    else:
        print(i," = odd")

In [ ]:
for i in range(0,len(lst)):
    if lst[i]%2==0:
        print(i," = even")
    else:
        print(i," = odd")